<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>
	<style>
		{% include "includes/breadcrumbs.css" %}
	</style>
</head>
<body>
	{% block navigation %}
	<nav>
		{% include "includes/breadcrumbs.html" %}
	</nav>
	{% endblock navigation %}

	{% block content %}
	{% with emailMessageCount=object_list.count %}
		{{ emailMessageCount }} EmailMessage{{ emailMessageCount|pluralize }}
	{% endwith %}

	<div id="emailMessageList">
		<ul>
			{% for emailMessage in emailmessage_list %}
				<li>
					<a href="{% url sendgrid_email_message_detail emailMessage.message_id %}">{{ emailMessage }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endblock content %}
</body>
</html>
