<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>django-sendgrid example project</title>
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
	</style>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
	<!-- http://davidwalsh.name/blank-favicon -->
	<link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">django-sendgrid</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="https://github.com/RyanBalfanz/django-sendgrid">Github</a></li>
					<li><a href="http://pypi.python.org/pypi/django-sendgrid">PyPI</a></li>
					<li><a href="http://djangopackages.com/packages/p/django-sendgrid/">django-packages</a></li>
				</ul>
			</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		{% block messages %}
		{% if messages %}
		<div id="messages-containter">
		{% for message in messages %}
			<div class="alert">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>{{ message.tags }}</strong> {{ message }}
			</div>
		{% endfor %}
		</div>
		{% endif %}
		{% endblock messages %}

		{% block send_email_form %}
		<form action="/" method="post">{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Send" />
		</form>
		{% endblock send_email_form %}
	</div>
</body>
</html>
